// Breakpoint and rupture setup

mobile-cutoff = 400px
tablet-cutoff = 768px
narrow-cutoff = 1024px
normal-cutoff = 1280px
hd-cutoff = 1440px

rupture.mobile-cutoff = mobile-cutoff
rupture.tablet-cutoff = tablet-cutoff
rupture.desktop-cutoff = normal-cutoff
rupture.hd-cutoff = hd-cutoff

rupture.anti-overlap = -1px

rupture.base-font-size = browser-default-size
rupture.enable-em-breakpoints = true

rupture.scale = 0 mobile-cutoff tablet-cutoff narrow-cutoff normal-cutoff hd-cutoff
rupture.scale-names = 'mobile' 'tablet' 'narrow' 'normal' 'hd' 'wide'
