// Grays
black =                 #000
gray-darker =           #363545
gray-dark =             #5b596b
gray =                  #9d9da9
gray-light =            #d5d3d9
gray-lighter =          #eceaf2
white =                 #fff
offwhite =              darken(white, 2)

// Accent colors
blue =                  #003f87
blue-dark =             darken(blue, 20)
red =                   #E10E49
green =                 #2C9600
yellow =                #ffbe00
orange =                spin(red, 60deg)

// Global colors
paper-color =           offwhite
body-color  =           gray-dark
heading-color =         gray


