@import '_*.styl' //Include all the partials in the variables file here

base-font-size = 16px
base-line-height = 1.5

// Jeet Setup
jeet.gutter = 2



//- Values
$min-width = 930px
$footer-height = 100px
$footer-margin-top = 50px


//- Colors
$blue = #091960
$black = #070707
$red = #d53927
$orange = #e86f16