
<!--Footer-->
<footer class="m_footer">
  <div class="top-footer">
    <div class="wrapper">
      <div class="logo"><a href="#"></a></div>
      <div class="partners"><a href="#"><img src="../images/logo-partner-1.png" alt=""/></a><a href="#"><img src="../images/footer-logo-partner-2.png" alt=""/></a><a href="#"><img src="../images/footer-logo-partner-3.png" alt=""/></a></div>
      <div class="callback">
        <div class="tels">
          <div class="tel"><a href="#">+7 (911) 922 16 66</a></div>
          <div class="tel"><a href="#">+7 (911) 181 34 66</a></div>
        </div><a href="#" class="callback-trigger">Заказать обратный звонок</a>
      </div>
    </div>
  </div>
  <div class="bottom-footer">
    <div class="wrapper">
      <div class="copy">Информация на данном сайте носит ознакомительный характер и не является публичной офертой</div>
      <div class="vk"><a href="http://vk.com"></a></div>
    </div>
  </div>
</footer>