
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="description" content=""/>
<meta name="keywords" content=""/>
<meta name="viewport" content="width=device-width"/>
<link rel="icon" href="favicon.ico"/>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css"/>
<!--Styles-->
<link rel="stylesheet" href="/realtor/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/realtor/css/style.css"/>
<link rel="stylesheet" href="/realtor/css/ion.rangeSlider.css"/>
<link rel="stylesheet" href="../css/styles.css" type="text/css"/>
<!--Scripts-->
<script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../js/plugins.js"></script>
<script src="/realtor/js/forms.js"></script>
<script src="/realtor/js/ion.rangeSlider.min.js"></script>
<script src="/realtor/js/jquery.maskedinput.min.js"></script>
<script src="/realtor/js/jquery.scrollTo.min.js"></script>
<script src="/realtor/js/jquery.uniform.js"></script>
<script type="text/javascript" src="../js/functions.js"></script>
<script src="/realtor/js/main.js"></script>