
<!--Header-->
<header class="m_header">
  <div class="wrapper">
    <div class="logo"><a href="index.html"></a></div>
    <div class="partners"><a href="#"><img src="../images/logo-partner-1.png" alt=""/></a><a href="#"><img src="../images/logo-partner-2.png" alt=""/></a><a href="#"><img src="../images/logo-partner-3.png" alt=""/></a></div>
    <div class="callback">
      <div class="tels">
        <div class="tel"><a href="#">+7 (911) 922 16 66d</a></div>
        <div class="tel"><a href="#">+7 (911) 181 34 66s</a></div>
      </div><a href="#" class="callback-trigger">Заказать обратный звонок</a>
    </div>
  </div>
</header>